@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p><h3>Purpose</h3></p>
<p>Proposoe an example of implementation of the Generic Repository Pattern in an MVC project</p>
<br />
<p><h3>Backend</h3></p>
<p>- .Net Core application</p>
<p>- MVC architecture</p>
<p>- Entity Framework</p>
<p>- Generic repository interface implemented by a generic repository</p>
<p>- Dependency injection of the repository</p>
<p><b>Note that:</b> For demo reasons we connect to a fake repository where data is hard coded</p>
<br />
<p><h3>Frontend</h3></p>
<p>- 100% Ajax & Jquery (no Razor code)</p>
<p>- implementation of the ddSlick plugin, in order to have pictures displayed in dropd list</p>

